*{
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
}
kbd{
    display: inline-block;
    /*kbd默认是inline属性*/
    border: 1px solid red;
    width: 4em;
    height: 4em;
    text-transform: uppercase;
    /*文本小写变大写*/
    position: relative;

}
kbd>button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
    /*绝对定位到右下角*/
}
kbd:hover>button{
    display: inline-block;
    /*鼠标浮到kbd上才出现*/
}
#mainxxxx{
    display: inline-block;
}
main{
    text-align: center;
}
/*mainxxx这个div居中*/
#mainxxxx>div:nth-child(2){
    margin-left: -30px;
}
#mainxxxx>div:nth-child(3){
    margin-left: -112px;
}
/*美化按键*/
/**/
/*}*/
.kbd{
    margin: 0;
    padding: 0;
    border:0;
    width: 65px;
    height: 50px;

    /*线性渐变:0-70白色,70-100,fff-f3f3f3渐变*/
    background: linear-gradient(to bottom, #fff 0%,#fff 70%,#f3f3f3 100%);
    border-radius: 7px;

    /*下方阴影,box-shadow5个最常用属性,分别是左偏移,右偏移,模糊,扩张,颜色*/
    box-shadow: 0 5px 0 0 #D8DCDE;
    color: #767D81;
    font-family: Helvetical;

    vertical-align: top;

    /*用flex布局居中*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.kbd_wrapper{
    display: inline-block;
    vertical-align: top;
    /*这两句一定要搭配使用!!!!*/

    width: 65px;
    height: 55px;
    /*border:1px solid #3C3C3D;*/
    border-radius: 7px;
    margin: 0 5px;

    /**/
    box-shadow: 0 4px 3px 0 #3C3C3D,0 0 1px 0 #3C3C3D;
    /*下,一圈*/
}
#mainxxxx>div{
    margin: 10px 0;
}

/*让html和body占满屏幕100%的方法*/
html,body{
    height: 100%;
}
body {
    background: linear-gradient(to bottom, #fff 0%,#888e94 100%);
}


