*{
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
}
kbd{
    display: inline-block;
    /*kbd默认是inline属性*/
    border: 1px solid red;
    width: 2em;
    height: 2em;
    text-transform: uppercase;
    /*文本小写变大写*/
}
#mainxxxx{
    display: inline-block;
}
main{
    text-align: center;
}
/*mainxxx这个div居中*/
#mainxxxx>div:nth-child(2){
    margin-left: 1em;
}
#mainxxxx>div:nth-child(3){
    margin-left: 2em;
}
